@import 'tailwindcss';

@plugin "daisyui" {
	themes:
		winter --default,
		dim --prefersdark;
}

* {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.main-content-color {
	@apply bg-base-300 text-base-content;
}

.alert-style {
	@apply w-[85%] max-w-[500px] absolute top-[50px] left-1/2 transform -translate-x-1/2 transition-opacity duration-200;
}

.large-font {
	font-size: 48px;
}
@media (min-width: 640px) {
	.large-font {
		font-size: 64px;
	}
}

.medium-font {
	font-size: 18px;
}

.small-font {
	font-size: 14px;
}

.margin-top {
	margin-top: clamp(40px, 8vw, 80px);
}
